# --- Python bytecode ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual environments ---
.venv/
venv/
ENV/

# --- Logs and Airflow runtime DB ---
logs/
*.log
airflow.db
airflow.db-journal

# --- Airflow config (local use only) ---
airflow.cfg
webserver_config.py
unittests.cfg

# --- DAGs and Plugins ---
airflow/dags/__pycache__/
airflow/dags/*.pyc
plugins/__pycache__/
plugins/*.pyc

# --- src/ (ignore only compiled/intermediate files) ---
src/**/__pycache__/
src/**/*.pyc
src/**/*.pyo
src/**/*.pyd

# --- Docker and runtime ---
*.pid
*.pid.lock
docker-compose.override.yml
tmp/
data/

# --- Env secrets ---
.env
.env.*

# --- Example DAGs ---
**/example_dags/

# --- Jupyter Notebooks ---
*.ipynb

# --- VS Code ---
.vscode/

# --- Pytest and build cache ---
.pytest_cache/
.cache/
build/
dist/
